<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <link rel="stylesheet" href="login.css"> <!-- Include the CSS file -->
</head>
<body>
    <div class="container">
        <h2>Login</h2>
        <form id="loginForm" action="#" method="post">
            <div class="input-group">
                <label for="email">Email</label>
                <input type="text" id="email" name="email"  required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password"  required>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>   

    <script src="/login.js"></script> 
</body>
</html>
